<div class="container-field-user">
  <div class="row">
  	<div class="user-view">
  	  <div class="user-view-box">
  	  	<div class="update-contetnt">
  	  	  <div class="row">
  	  	  	<label class="user-label">予約した部屋</label>
  	  	  	<div class="user-content">
  	  	  	  <a href=""><%= @post.name %></a>
  	  	  	</div>
  	  	  </div>
  	  	</div>
  	  	<div class="update-contetnt">
  	  	  <div class="row">
  	  	  	<label class="user-label">開始日</label>
  	  	  	<div class="user-content"><%= @stime %></div>
  	  	  </div>
  	  	</div>
  	  	<div class="update-contetnt">
  	  	  <div class="row">
  	  	  	<label class="user-label">終了日</label>
  	  	  	<div class="user-content"><%= @etime %></div>
  	  	  </div>
  	  	</div>
  	  	<div class="update-contetnt">
  	  	  <div class="row">
  	  	  	<label class="user-label">価格</label>
  	  	  	<div class="user-content"><%= @res.price %>円</div>
  	  	  </div>
  	  	</div>
  	  </div>
  	</div>
  </div>
</div>